<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samuel Calderon</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="barra-superior">
        <div class="icono-superior">
            <ion-icon name="laptop-outline"></ion-icon>
            <div class="texto-superior">
                <p>Samuel Calderon</p>
            </div>
        </div>
        <nav class="nav-superior">
            <button class="boton-superior">
                <span>¿Quíen soy?</span>
            </button>
            <button class="boton-superior">
                <span>Proyectos</span>
            </button>
        </nav>
    </div>
    <main>
        <div class="contenido">
            <div class="barra-lateral">
                <div class="imagen-perfil">
                    <img src="../static/imgs/img_perfil.jpeg" alt="">
                </div>
                <div class="nombre">
                    <p>Samuel Calderon</p>
                </div>
                <div class="ocupacion-actual">
                        <p>Est. Ingenieria Catastral y Geodesia</p>
                        <p>Universidad Distrital Francisco José de Caldas</p>
                </div>
                <div class="linea"></div>
                <div class="redes-contacto">
                    <a href="https://github.com/xdSAMUbx"><ion-icon name="logo-github"></ion-icon></a>
                    <a href="https://www.linkedin.com/in/samuel-calderon-597606270/"><ion-icon name="logo-linkedin"></ion-icon></a>
                    <a href=""><ion-icon name="document-outline"></ion-icon></a>
                </div>
                <div class="linea"></div>
                <div class="idiomas">
                    <a href=""><ion-icon name="language-sharp"></ion-icon></a>
                </div>
            </div>
            <div class="narrativa">
                <div class="descripcion">
                    <div class="texto-titulo">
                        <p>Sobre Mi</p>
                    </div>
                    <div class="texto-explicativo">
                        <p>Hola soy Samuel Calderon, actualmente estudiante de quinto semestre en la Universidad Distrital Francisco José de Caldas, en el proyecto curricular de Ingeniería Catastral y Geodesia. Me destaco por mi buen trabajo en grupo
                        y responsabilidad al momento de manejar situaciones bajo presión,</p>
                    </div>
                </div>
                <div class="texto-inferior">
                    <div class="texto-intereses">
                        <p>Intereses</p>
                        <nav>
                            <ul>
                                <li>
                                    Analisis de Datos
                                </li>
                                <li>
                                    Analisis de Datos Espaciales
                                </li>
                                <li>
                                    Diseño de Aplicaciones Web
                                </li>
                                <li>
                                    Geodesia
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="texto-educacion">
                        <p>Hola</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../static/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>