@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
:root{
    --color-barras: rgb(29,26,47);
    --color-letra: rgb(255,255,255);

    --color-boton: rgb(139,212,80);
    --color-boton-letra: rgb(115,79,154);

    --color-contenido-principal: rgb(115,79,154);

    --color-linea: rgb(168, 167, 167);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: "Open Sans", sans-serif;;
}
/*-----------------------------------------barra superior*/
.barra-superior{
    overflow: hidden;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-barras);
}
.barra-superior .icono-superior{
    display: flex;
    margin-left: 10px;
    height: 50px;
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: center;
    color: var(--color-letra);
}
.barra-superior .icono-superior ion-icon{
    height: 40px;
    width: 40px;
    align-items: center;
    margin-left: 10px;
}
.barra-superior .icono-superior .texto-superior{
    width: 80%;
    height: 80%;
    font-size: 25px;
}
.barra-superior .nav-superior {
    height: 75%;
    width: 300px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra-superior .nav-superior .boton-superior {
    height: 80%;
    width: 150px;
    margin: 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-letra);
    border-color: var(--color-barras);
}
/*-----------------------------------------barra lateral*/
.contenido{
    display: flex;
}
.contenido .barra-lateral{
    overflow: hidden;
    width: 400px;
    height: 100vh;
    background-color: var(--color-barras);
}
.contenido .barra-lateral img{
    border-radius: 50%;
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contenido .barra-lateral .nombre{
    margin-top: 80px;
    font-size: 30px;
    text-align: center;
    color: var(--color-letra);
}
.contenido .barra-lateral .ocupacion-actual{
    margin-top: 50px;
    text-align: center;
    color: var(--color-letra);
}
.contenido .barra-lateral .linea{
    margin: 20px;
    height: 1px;
    background-color: var(--color-linea);
}
.contenido .barra-lateral .redes-contacto{
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    color: var(--color-letra);
}
.contenido .barra-lateral ion-icon{
    height: 100%;
    width: 50px;
    margin-right: 20px;
    margin-left: 20px;
    color: var(--color-letra);
    cursor: pointer;
}
.contenido .barra-lateral .idiomas ion-icon{
    margin: auto;
    display: flex;
    height: 25px;
}
/*------------------------------------contenidoprincipal*/
.contenido .descripcion{
    width: 95%;
    height: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--color-contenido-principal);
    border: 2px solid goldenrod;
}
.contenido .descripcion .texto-titulo{
    font-size: 50px;
    text-align: right;
    color: var(--color-letra);
    border: 2px solid white;
}
.contenido .descripcion .texto-explicativo{
    border: 2px solid blue;
}
.contenido .narrativa .texto-inferior{
    display: flex;
    border: 2px solid green;
}
.contenido .narrativa .texto-inferior .texto-intereses{
    border: 2px solid black;
}
.contenido .narrativa .texto-inferior .texto-educacion{
    border: 2px solid yellow;
}
/*--------------------------contenido inferior*/
.contenido .narrativa{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-contenido-principal);
    border: 2px solid red;
}