body{
    margin:0;
    padding:0;
    font-family: montserrat;
    background: #000;
    height: 100vh;
}

.caja-principal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background:white;
    border-radius: 10px;
}

.caja-principal h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.caja-principal form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid gray;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: gray;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}