@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
:root{
    --color-fondos: rgb(29,26,47);
    --color-letra: rgb(255,255,255);

    --color-boton: rgb(139,212,80);
    --color-boton-letra: rgb(115,79,154);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: "Open Sans", sans-serif;;
}
/*-----------------------------------------barra superior*/
.barra-superior{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fondos);
}
.barra-superior .icono-superior{
    display: flex;
    margin-left: 20px;
    height: 50px;
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: center;
    transition: 0.5s top ease;
    color: var(--color-letra);
}
.barra-superior .icono-superior ion-icon{
    height: 40px;
    width: 40px;
    align-items: center;
    margin-left: 10px;
}
.barra-superior .icono-superior .texto-superior{
    width: 80%;
    height: 80%;
    font-size: 25px;
}
.barra-superior .nav-superior {
    height: 75%;
    width: 300px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra-superior .nav-superior .boton-superior {
    height: 80%;
    width: 150px;
    margin: 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-letra);
    border-color: var(--color-fondos);
}
/*----------------------------------------------------main*/